
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: Roboto, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  padding-left: 122px;
  padding-top: 18px;
  box-sizing: border-box;
}


.Wal-header {
  margin-top: 2px;
}

.line {
  width: 111px;
  height: 14px;
  background-color: black;
  margin: 0;
  margin-top: 6px;
}

.header-text-header {
  font-size: 24px;
  padding-top: 6px;
  margin: 0;
  line-height: 21px;
}

/* Блок с  3 секциями */

.main-nav {
  margin-top: 98px;
}

.main-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-nav-box {
  margin-right: 44px;
}

.img-nav-box {
  width: 23px;
  height: 23px;
  padding-right: 3px;
}

.text-nav-box {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
}

/* Блок с картинкой и текстом первый */

.top-box {
  display: flex;
  justify-content: space-between;
}

.top-box-text-header-about {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 101.38%;
  margin-top: 23px;
  margin-bottom: 0;
}

.top-box-text-header-param {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  margin-top: 33px;
  margin-bottom: 0;
}

.top-box-img-about{
  width: 304px;
  height: 356px;
  margin-right: 245px;
  margin-top: 13px;

}

/* Блок с текстом внутри  */

.bot-box {
  right: 130px;
  border-radius: 5px;
  transform: rotate(-4deg);
  width: 483.63px;
  height: 200px;
  margin: 0 auto;
  background-color: #1E4681;
  margin-top: 83px;
  position: relative;
}

.bot-box-text {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 130%;
  padding-top: 21px;
  margin: 0;
  padding-left: 28px;
}

.bot-box-text-bot {
  text-align: right;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  color: white;
  margin-bottom: 0;
  margin-top: 4px;
  padding-right: 20px;
}


/* Средняя секция */

.midl-sect {
  margin-top: 173px;
}

.header-text {
  font-family: Roboto Slab, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 101.38%;
  margin-bottom: 0;
}

.sect-box {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}


.section-about-taxt {
  font-family: Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  margin-right: 179px;
}

.section-about-text {
  font-family: Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  margin-top: 36px;
  margin-right: 207px;
  margin-bottom: 0;
}

.section-img {
  width: 314px;
  height: 316px;
  margin-top: 23px;
  margin-right: 153px;
}

/* Подвал */

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 60px;
  align-items: center;
}

.footer-img {
  width: 232px;
  height: 203px;
}

.box {
  margin-left: 0;
  margin-right: 95px;

}

.box-title {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  padding-top: 1px;
  font-size: 25px;
  margin: 0;
}

.box-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  width: 150px;
  line-height: 130%;
  margin: 0;
  padding-top: 8px;
}

.footer-img {
  margin-top: 12px;
}

.box-left {
  margin-right: 132px;
}

.box-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 32px;
  width: 30%;
}

/* Anton start */

.wrapper_anton{
  max-width: 1440px;
  height: 100%;
  margin-top: 168px;
  box-sizing: border-box;
 

}
.anton_menu{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
 
  
      
}
.h3_menu1{
  
 margin: 0;
 margin-top: -7px;
  
  
}
.h3_menu2{
margin: 0;
margin-left: 123px;
margin-top: -8px;


}
.h3_menu3{
margin: 0;
margin-left: 113px;
margin-top: -7px;


}

.menu-list{
 
  display: flex;
  flex-direction: column;
  margin-top: 89px;
  
  
}

.ant_paragraf1{
  font-size: 18px;
  font-family: Roboto;
  width: 223px;
  height: 39px;
  margin-top: 10px;
 
 
  

}
.ant_paragraf2{
font-size: 18px;
font-family: Roboto;
width: 271px;
height: 109px;
margin-left: 122px;
margin-top: 12px;


}
.ant_paragraf3{
 font-size: 18px;
 font-family: Roboto;
 width: 245px;
 height: 39px;
 margin-left: 113px;
 margin-top: 9px;



}
.h1-header{
  font-size: 55px;
  font-family: Roboto Slab;
}
.article{
  display: flex;
}

.h1-article{
  margin-top: 249px;
}
.menu-list h3{
  font-size: 25px;
  color:#1E4681;
}

.article{
 display: block;
}
.acide_top{
 display: flex;
}
.top{
 font-size: 55px;
 font-family: Roboto Slab;
 margin-top: 150px;
}
.bot{
 margin-top: 175px;
 margin-right: 240px;
}
.ninja{
 margin-left:416px;
 margin-top: 95px;
}
.acide_bot{
 display: flex;
 justify-content: flex-start;
 
}
.acide-list{
  
  margin-top: 21px;
}
.list{
 font-family: Roboto;
 font-size: 24px;
 margin-top: 12px;
 margin-left: -8px;
 margin-left: -24px;
 line-height: 150%;
 
}
.li{
  margin-left: 2px;
  margin-right: 20px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 150%;
  padding-right: 10px;
}



@media (max-width: 1279px) and (min-width: 834px) {
  .wrapper {
    padding-left: 70px;
  }

  .line {
    width: 65px;
    height: 8px;
  }

  .header-text-header {
    font-size: 15px;
    padding-top: 4px;
    margin: 0;
    line-height: 12px;
  }

  .main-nav {
    margin-top: 55px;
  }

  .main-nav-box {
    margin-right: 20px;
  }

  .img-nav-box {
    width: 12.74px;
    height: 12.16px;
  }

  .text-nav-box {
    font-size: 12px;
  }

  .top-box-text-header-about {
    font-weight: bold;
    font-size: 46px;
    margin-top: 12px;
    width: 363.72px;
    height: 110.04px;
  }

  .top-box-text-header-param {
    font-size: 12px;
    padding-top: 2px;
    margin-top: 0;
  }

  .top-box-img-about {
    width: 176.07px;
    height: 206.18px;
  }

  .top-box-img {
    margin-left: 81px;
    margin-top: -7px;
  }

  .bot-box {
    width: 280.11px;
    height: 115.83px;
    margin-top: 47px;
    padding-left: 0px;
    font-style: normal;
    font-weight: normal;
    right: 75px;
  }

  .bot-box-text-bot {
    font-size: 12px;
    margin-top: 7px;
    padding-right: 12px;
  }

  .bot-box-text {
    font-weight: normal;
    font-size: 14px;
    padding-left: 16px;
    padding-top: 10px;
    color: #FFFFFF;
  }

  .midl-sect {
    margin-top: 100px;
  }

  .header-text {
    font-size: 32px;
  }

  .sect-box {
    margin-top: 33px;
  }

  .section-about-taxt {
    font-size: 14px;
    margin-right: 141px;
  }

  .section-about-text {
    font-size: 14px;
    margin-top: 21px;
    margin-right: 117px;
  }

  .section-img {
    width: 181.86px;
    height: 182.44px;
    margin-top: 13px;
    margin-right: 89px;
  }

  .Wal-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 26px;
    align-items: center;
  }
  
  .footer-img {
    width: 232px;
    height: 203px;
  }
  
  .box {
    margin-right: 53px;
  }
  
  .box-title {
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
  }
  
  .box-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
    margin: 0;
    padding-top: 4px;
    width: 88.88px;
    height: 22.59px;
  }
  
  .footer-img {
    margin-top: 12px;
    width: 134.37px;
    height: 117.57px;
  }
  
  .box-left {
    margin-right: 76px;
  } 

  .box-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-top: 21px;
  }

  /* Anton */

  .anton_menu{
   
    display: flex;
  
    margin-top: -48px;
    
   
    
    
}

.h3_menu1{
    font-family: Roboto;
    width: 86.88px;
    height: 22.59px;
  
   
    
    
}

.h3_menu2{
    font-family: Roboto;
    width: 123.94px;
    height: 22.59px;
    margin-left: 49px;
   
  
}
.h3_menu3{
    font-family: Roboto;
    width: 86.88px;
    height: 22.59px;
    margin-left: 51px;
    
}

.menu-list{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 9px;
    
   
}

.ant_paragraf1{
    font-family: Roboto;
    font-size: 11px;
    width: 153px;
    height: 22px;
    margin-top: 2px;
    margin-left: 2px;
   
    
}

.ant_paragraf2{
    font-family: Roboto;
    font-size: 11px;
    width: 172px;
    height: 63px;
    margin-top: 3px;
    margin-left: 46px
}

.ant_paragraf3{
    font-family: Roboto;
    font-size: 11px;
    width: 141.9px;
    height: 22.59px;
    margin-left: 51px;
    margin-top: 3px;
   
}

.h1-header{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 101.38%;
    margin-top: -65px;
}

.h1-article{
    margin-top: 249px;
}

.menu-list h3 {
    font-family: Roboto;
    margin-top: 10px;
    font-size: 15px;
    line-height: 132%;
    color:#1E4681;
   
}

.article {
    display: block;
}
.acide_top {
    display: flex;
}

.top{
    font-size: 32px;
    font-family: Roboto Slab;
    margin-top: 90px;
    margin-left: 0px;
    line-height: 101.38%;
}

.bot{
    width: 180px;
    height: 104px;
    margin: 0;
    margin-top: 100px;
    margin-right: 143px;
}

.ninja{
    width: 159px;
    height: 93px;
    margin-left: 240px;
   margin-top: 54px;
}

.acide_bot{
    display: flex;
   justify-content: space-between;
    
}

.acide-list{
    margin-top: 21px;
}

.list{
    font-family: Roboto;
    font-size: 14px;
    margin-top: 10px;
    margin-left: -44px;
    height: 216.61px;
    padding-right: 61px;
}
.li{
    margin-left: 12px;
    margin-right: 20px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 150%;
    
}
/*
 .li1{
    font-size: 14px;
    margin-top: -51px;
    margin-left: -7px;
    line-height: 23px;  
 }

.li2{
    font-size: 14px;
    margin-top: -2px;
    margin-left: -6px;
    line-height: 23px;    
 }

.li3{
    font-size: 14px;
    margin-left: -6px;
    line-height: 23px;    
    margin-top: -1px;
 }

 .li4{
    font-size: 14px;
    margin-top: -3px;
    margin-left: -6px;
    line-height: 23px;   
 }

 .li5{
    font-size: 14px;
    margin-top: -3px;
    margin-left: -7px;
    line-height: 23px;  
  }

 .li6{
    font-size: 14px;
    margin-top: -3px;
    margin-left: -7px;
    line-height: 23px;  
  }

 .li7{
    font-size: 14px;
    margin-left: -6px;
    line-height: 20px;    
 }
 */
}



@media (max-width: 833px) and (min-width: 375px) {
  .wrapper {
    padding-left: 35px;
    padding-top: 28px;
    padding-right: 19px;
  }

  .header-box {
    width: 52.19px;
    height: 30.75px;
  }

  .line {
    width: 52px;
    height: 8px;
  }

  .header-text-header {
    font-size: 12px;
    padding-top: 2px;
    margin: 0;
    line-height: 10px;
  }

  .main-nav {
    margin-top: 45px;
  }

  .img-nav-box {
    width: 10.25px;
    height: 9.79px;
  }

  .text-nav-box {
    font-size: 10px;
  }

  .main-nav-box {
    margin-right: 13px;
  }

  .top-box-text-header-about {
    font-size: 37px;
    margin-top: 10px;
    width: 292.63px;
    height: 88.53px;
  }

  .top-box {
    display: block;
  }

  .top-box-text-header-param {
    font-size: 10px;
    margin-top: 2px;
  }

  .top-box-img {
    width: 141.66px;
    height: 165.89px;
    margin-top: 0;
  }

  .top-box-img-about {
    width: 141.66px;
    height: 165.89px;
    margin-left: 165px;
    margin-top: 0px;
  }

  .bot-box {
    margin-top: 47px;
    width: 226.36px;
    height: 93.19px;
    right: 44px;
  }

  .bot-box-text {
    font-weight: normal;
    font-size: 11px;
    padding-left: 11px;
    padding-top: 9px;
    color: #FFFFFF;
  }

  .bot-box-text-bot {
    font-size: 10px;
    margin-top: 5px;
    padding-right: 11px;
  }

  .midl-sect {
    margin-top: 75px;
  }

  .header-text {
    font-size: 26px;
    width: 170.08px;
    height: 43.34px;
  }

  .sect-box {
    flex-direction: column;
    margin-top: 0px;
  }

  .section-box {
    margin-top: 7px;
  }

  .section-about-taxt {
    font-size: 12px;
    margin-right: 12px;
  }

  .section-about-text {
    font-size: 12px;
    margin-top: 18px;
    margin-right: 19px;
  }

  .section-img {
    width: 146.32px;
    height: 146.78px;
    margin-top: 15px;
    margin-left: 78px;
  }

  .Wal-footer {
    display: block;
    margin-top: 60px;
  }

  .footer-img {
    width: 108.11px;
    height: 94.59px;
    margin-top: 0;
  }

  .box {
    margin-left: 0;
    margin-right: 34px;
    margin-bottom: 34px;
  }

  .box-left {
    margin-right: 0;
  }

  .box-right {
    flex-wrap: wrap;
    padding-top: 0;
    width: auto;
  }

  .footer-img {
    width: 108.11px;
    height: 94.59px;
    position: absolute;
    right: 44px;
    margin-top: 38px;
  }

  .box-title {
    font-size: 12px;
  }

  .box-text {
    font-size: 10px;
    padding-top: 4px;
    width: 85px;
    height: 18px;
  } /* Anton */

  .anton_menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
   
  }

  .h3_menu1{
      font-family: Roboto;
      font-size: 12px;
      width: 69,9px;
      height: 18,17px;
      margin: 0;
      margin-top: 18px;
      margin-left: 2px;
    
  }

  .h3_menu2{
      font-family: Roboto;
      font-size: 12px;
      width: 69,9px;
      height: 18,17px;
      margin: 0;
      margin-top: px;
      
    
    
  }
  .h3_menu3{
      font-family: Roboto;
      width: 69.9px;
      height: 18.17px;
      font-size: 12px;
      margin: 0;
      margin-top: 20px;
      
  }

  .menu-list{
      display: flex;
      flex-direction: column;
      font-family: Roboto;
      margin: 0;
    
      
    
  }

  .ant_paragraf1{
      font-family: Roboto;
      font-size: 10px;
      width: 180px;
      height: 48px;
      margin-top: 3px;
      margin-left: 2px;
    
    
      
  }

  .ant_paragraf2{
      font-family: Roboto;
      font-size: 10px;
      width: 165pxpx;
      height: 51px;
      margin: 0;
      margin-top: 5px;
    
  }

  .ant_paragraf3{
      font-family: Roboto;
      font-size: 10px;
      width: 159px;
      height: 31px;
      margin: 0;
  
    
  }

  .h1-header{
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 101.38%;
      margin-top: -125px;
  }

  .h1-article{
      margin-top: 249px;
  }

  .menu-list h3 {
      font-family: Roboto;
      font-size: 12px;
      line-height: 132%;
      color:#1E4681;
    
  }

  .article {
      display: block;
  }
  .acide_top {
      display: flex;
  }

  .top{
      font-size: 26px;
      font-family: Roboto Slab;
      height: 43.34px;
      margin: 0;
      margin-top: 70px;
      
      
  }

  .bot{
    width: 145.38px;
    height: 83.88px;
    margin: 0;
    margin-top: 30px;
    margin-left: 77px;
  }

  .ninja{
    width: 127.68px;
    height: 74.56px;
    margin: 0;
    margin-top: -35px;
    margin-left: 10px;
    
  }


  .acide_bot{
      display: flex;
      flex-direction: column;
  }

  .acide-list{
      margin-top: 21px;
  }

  .list{
      padding: 0;
      margin: 0;
    margin-left: 8px;
    margin-top: 15px;
    padding-right: 271px;
  }

  .li {
    font-family: Roboto;
    font-size: 12px;
    line-height: 150%;
  }
/* 
  .li1{
      font-size: 12px;
      margin: 0;
      margin-top: -6px;
      margin-left: -22px;
      
  }

  .li2{
      font-size: 12px;
      margin: 0;
      margin-top: -18px;
      margin-left: -22px;
  }

  .li3{
      font-size: 12px;
      margin: 0;
      margin-top: -18px;
      margin-left: -21px;
  }

  .li4{
      font-size: 12px;
      margin: 0;
      margin-top: -36px;
      margin-left: -22px;
  }

  .li5{
      font-size: 12px;
      margin: 0;
      margin-top: -72px;
      margin-left: -21px;
  }

  .li6{
      font-size: 12px;
      margin: 0;
      margin-top: -36px;
      margin-left: -10px;
  }

  .li7{
      font-size: 12px;
      margin: 0;
  } */
  
}


/* _______________________NIKITA__________________________ */

.nikita-box {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  padding-left: 84px;
  padding-top: 18px;
  box-sizing: border-box;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 251px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 101.38%;
}

.title-one-nik {
  margin-left: 40px;
}

.line-cherta {
  width: 630px;
  height: 14px;
}

.black-line {
  width: 630px;
  height: 14px; 
  background-color: black;    
  margin-top: 77px;

}
/* _________________SECTION-ONE_____________________ */

.section-one {
  margin-top: 107px;
}

.article-box-upper {
  display: flex;
}

.title-menu-nik {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  margin-left: 20px;
  margin-top: 5px;
}

#last-h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 0px; 
  margin-top: 10px;
  padding: auto;
  line-height: 97%;
} 

.article-box-midl {
  display: flex;
  margin-top: 41px;
}

.article-box-low {
  display: flex;
  margin-top: 44px;
}

.img-size-nik {
  width: 399px;
  height: 160px;
}

.title-course-programm {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    width: 600px;
    height: 93px;
    margin-left: 121px;  
    height: 70px;
    margin-left: 37px;  
}

.article-nikita {
    width: 399px;
    height: 328px;
    border-radius: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    margin-right: 37px;
}

.paragraph-menu-nik{
  font-family: 'Roboto', sans-serif;
  font-style: normal; 
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  margin-left: 19px;
  margin-top: 32px;
}

#last-paragraph-menu-nik {
  font-family: 'Roboto', sans-serif;
  /* font-style: normal; */
  font-weight: 400;
  font-size: 25px;
  height: 65px;
  margin-left: 19px;
  /* margin-right: 32px; */
  margin-top: 10px;
  line-height: 130%;

}
/* _________________SECTION-TWO_____________________ */

.section-two {
  margin-top: 107px;
  display: flex;
}

.title-two-nik {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-style: normal;
  font-size: 55px;
  line-height: 101.38%;
  height: 70px; 
  margin-left: 39px;
  margin-top: 217px;
}

.flex-autor-danila {
  display: flex;
  height: 178px;
  margin-left: 71px;
  margin-top: 70px;
}

.info-name {
  margin-top: 17px;
  margin-left: 21px;
}

.h3-danila {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-left: 0;
  margin-bottom: 0;
}

.danila {
  width: 223px;
  height: 31px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-top: 10px;
  line-height: 130%;
}

.p-i-danila {
  width: 28px;
  min-width: 28px;
  height: 28px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 8px #5784C8;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-top: 52px;
  margin-left: 19px;
}

.danila-bio {
    margin-left: 254px;
    margin-right: 15px;
    margin-top: -24px;
}

.danila-info {
  padding-top: 23px;
  padding-right: 21px;
  padding-bottom: 35px;
  padding-left: 25px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;    
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
}

.block-for-dima {
  margin-top: -206px;
}

.img-auxiliary {
  width: 253px;
  height: 199px;
  margin-left: 23px;
  z-index: 999;
  position: relative;
} 

.img-ellipse {
  width: 232px;
  height: 32px;
  margin-top: -20px;
  /* opacity: 0.65; */
  transform: rotate(180deg);
  position: relative;
  z-index: 5;
}

.pic-nik {
  width: 253px;
  margin-left: 296px;
  position: relative;
  margin-top: 12px;
}

.dima-info-block{
  margin-top: 27px;
  margin-left: 8px;
}

.dima-info {
  width: 399px;
  height: 379px; 
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  margin-left: 179px;
  padding-top: 24px;
  padding-right: 21px;
  padding-bottom: 24px;
  padding-left: 25px;
  box-sizing: border-box;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.dima {
  height: 31x;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  margin: 0;
  margin-top: -18px;
}

.flex-autor-dima {
  display: flex;
  width: 680px;
  margin-left: 8px;
  margin-top: -16px;
}

.foto-dima {
  width: 180px;
  height: 166px;
  margin-left: -7px;
}

.h3-dima {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 101.38%;
  margin-top: 27px;
}

.p-i-dima {
  width: 28px;
  min-width: 28px;
  height: 28px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  border-radius: 50%;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 8px #5784C8;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-left: -58px;

}





.child {
    margin-left: -113px;
    background: #EFEFEF;
}

.rtext {
    margin-top: 91px;
    margin-left: 0px;
    padding-top: 68px;
}

.text50 {    
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 101.38%;
color: #000000;
}

.textt {
    margin-top: 77px;
    margin-left: 114px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-bottom: 0px;
}

.graf {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.child-small {
    height: 450px;
    margin-top: 73px;
    width: 791px;
    margin-left: 119px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgb(0 0 0 / 25%);
    border-radius: 30px;
}

.page1 {
    /* width: 32px;
height: 31px;
left: 372px;
top: 6026px; */
padding-bottom: 68px;
/* display: none; */
position: absolute;
/* top: 50px; */
/* top: 520px;
right: -60px; */
    /* background-color: darkgray; */
}


.page2 {
    padding-bottom: 41px;
    padding-left: 24px;
    padding-top: 13px;
    /* background-color: darkgray; */
}

.ups {
    margin-right: 66px;
    margin-top: -7px;
}

.mini-teext {
margin-top: 14px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 101.38%;
margin-left: 6px;
}

.mini-tteext {  
    margin-top: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
    margin-left: -6px;
}

.mini-text {
    margin-top: -9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 101.38%;
    margin-left: 6px;
    color: #000000;
}

.minni-text {
    margin-left: -6px;
    margin-top: -9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 101.38%;
    color: #000000;
}

 .name {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
    padding-left: 1px;
    padding-top: 14px;
 }

.fix {
    padding-left: 30px;
    padding-bottom: 102px;
}

.text0 {
   padding-top: 39px;
    padding-right: 37px;
    padding-left: 44px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.bg-turquise { 
background: #9DC9C8;
}

.start {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    padding-left: 114px;
    padding-top: 235px;
}

.price {
    padding-left: 114px;
    padding-top: 8px;
    font-size: 23px;
    font-weight: 400;
}

.value {
    font-weight: bold;
    font-size: 55px;
    margin-top: -20px;
    margin-left: 115px;
    /* margin-bottom: 100px; */
    /* padding-bottom: 550px;
    padding-left: 122px; */
}

.value-kamil {
    margin-left: 114px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 101.38%;
    margin-top: -19px;
}

.section-text {
    display: flex;
    margin-right: 130px;
    padding-bottom: 100px;
    padding-left:120px
    
}

.bg-black {
background-color: #000;
}


/* _______________course_authors________________________ */

.course-authors {
    display: flex;
}

/* _______________autor paragraph one________________________ */


.title-two {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-style: normal;
    font-size: 55px;
    line-height: 101.38%;
    
    
    height: 70px; 
    
    margin-left: 39px;
    margin-top: 324px;

    /* background-color: slategray; */

}

.flex-autor-danila {
  display: flex;
  /* background-color: yellowgreen; */
  height: 178px;
  margin-left: 70px;
  margin-top: 70px;
}

.info-name {
  margin-top: 17px;
  margin-left: 21px;
}

.h3-danila {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-left: 0;
  margin-bottom: 0;
}

.danila {
  /* background-color: coral; */
  width: 223px;
  height: 31px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-top: 10px;
  line-height: 130%;
}

.p-i-danila {
  width: 28px;
  min-width: 28px;
  height: 28px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 8px #5784C8;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;

  margin-top: 52px;
  margin-left: 19px;
}


.danila-bio {
    margin-left: 254px;
    margin-right: 15px;
    margin-top: -23px;
    
}

.danila-info {
  padding-top: 33px;
  padding-right: 21px;
  padding-bottom: 35px;
  padding-left: 25px;

  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;    
  box-sizing: border-box;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;

  /* background-color: bisque; */
}

/* _______________autor paragraph one________________________ */


.dima-info {
  width: 399px;
  height: 379px; 

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;

  margin-top: 160px;
  margin-left: 187px;
  margin-bottom: 0;
  

  padding-top: 24px;
  padding-right: 21px;
  padding-bottom: 24px;
  padding-left: 25px;
  box-sizing: border-box;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}



.secton-footer {
   padding-top: 50px;
   display: flex;
   justify-content: space-between;
    background: #000000;
}

.sky {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 122px;
    padding-bottom: 291px;
}

.yy {
    margin-top: 29px;
    padding-left: 10px;
    width: 25px;
    height: 20px;
    color: white;
}
.yyww {
    margin-top:70px;
    width: 115px;
    height: 68px;
    padding-bottom: 4px;
    margin-right: 250px;
    /* margin-left: -122px; */
}
.yyu {
    padding-right: 22px;
    width: 37px;
    height: 20px;
}

.yyuu {
    padding-right: 22px;
   width: 48px;
   height: 18px;
}

.cloud {
    /* margin-top:50px; */
    margin-right: 185px;
    color: #fff;
}

.yys {
    width: 200px;
    height: 20px;
}

.hh {
    padding-top: 3px;
}

.text10 {
    height: 33px;
    width: 33px;
    color: #fff;
    /* padding-bottom: 23px; */
    padding-top: 132px;
    /* padding-right: -76px;
    padding-left: -158px; */
    /* margin-left: -120px; */
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 101.38%;
  margin-top: 47px;
  margin-left: 10px;
}


